extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/api/v1/stories?rid=" + rid method="post" enctype="multipart/form-data" class="form-video-upload")
    input(type="file" name="video")
    input(type="submit" value="Upload")
  article.container
    each item in data.Contents
      p
        video(width="320" height="240" controls)
          - const type = item.Key.includes('.mp4') ? 'video/mp4' : 'video/quicktime';
          source(src=`https://s3-us-west-1.amazonaws.com/ot-hackathon-restaurant-stories/${item.Key}` type= type)
  footer
    small= title
